:root {
/* MARGINS */
  --margin: 0.5vw;
  --button-margin: var(--margin) calc(var(--margin)*2) var(--margin) calc(var(--margin)*2);
  --font-size: 1.2vw;

  --grey: #E0E0E0;
  --yellow: #FFFD88;

  --border: solid 1px;
}


/* FONT */
@font-face {
  font-family: "Suisse Intl Mono";
  src: url("font/SuisseIntlMono-Regular.otf");
  font-weight:normal;
  font-style: normal;
  }

@font-face {
  font-family: "Pressura";
  src: url("font/GT-Pressura-Regular-Trial.otf");
  font-weight:normal;
  font-style: normal;
    }

body {
  margin: 0;
  width: 100%;
  max-height: 100vh;
  /* max-width: 100vw;
  max-height: 100vh; */
  background-color: var(--grey);
  overflow: hidden;
  font-size: var(--font-size);
  font-family: "Suisse Intl Mono";
}

.pressura {
  font-family: "Pressura";
  font-size: calc(2*var(--font-size));
}

#logo {width: 75%}

#left-side, #right-side {
padding: calc(var(--margin)*2);
height: 100vh;
}

#logo {
  padding-bottom: calc(var(--margin)*2);
}

#left-side {padding-right: 0}

/* #objects-container::-webkit-scrollbar {
  display: none;
} */

#objects-container {
  overflow-y: scroll;
  scrollbar-width: none;
  height: 100%;
}

.card {
    width: 20%;
}


/* RIGHT SIDE */
#right-side-container {
  height: 100%;
  border: var(--border);
  }


#right-side-container div {
  opacity: 0;
  color: #535353;
}

#right-side-container .d-inline {
  padding: var(--margin);
}

#d-item {text-transform: uppercase; text-align: center}
#d-img {object-fit: contain; max-width: 70%}
#d-text {overflow-y:auto;}
/* #d-text::-webkit-scrollbar {
  display: none;} */

.bold {color: black !important}

/* ABOUT  */
#about {
  background-color: var(--yellow);
  border: var(--border);

  position: fixed;
  bottom: calc(var(--margin)*2);
  left: calc(var(--margin)*2);
  z-index: 15;
  transition: min-width 0.1s ease, max-width 0.1s ease, max-height 0.1s ease;
  overflow:hidden;
}

#closure-button, #about-button {
  padding: var(--button-margin);
}

#about.about-open .d-flex {
  padding-bottom: calc(var(--margin)*2)
}

#closure-button {
  padding: var(--button-margin);
  border: solid;
  border-width: 0px 0px 1px 1px;
  cursor: pointer;
}

#about.about-closed {
  cursor: pointer;
  /* max-width: 10vw; */
  min-width: 1vw;
  max-height: calc(var(--font-size)*2 + var(--margin)*4)
}

#about.about-closed .about-inner {
  display: none;
}

#about.about-open
 {
   min-width: 55vw;
   max-width: 55vw;
   max-height: 70vh; }

 #about.about-open .pressura  {
  display: flex;
  justify-content: space-between;
}

.card-columns {
  /* -webkit-column-count: 5; */
  column-count: 5;
  widows: 5 !important;
  /* overflow-y: scroll; */
  /* widows: 0; */
}

 #about.about-open #about-text {
  display: inline-block;
  padding: calc(var(--margin)*2);
  max-height: 55vh;
  overflow-y: scroll;
}

#about-text span {
  display: block;
  width: 90%;
}

#about a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

#about a img {
  height: 7vh;
  padding-right: var(--margin);
  /* margin-top: calc(var(--margin)*2); */
}

/* #about-text::-webkit-scrollbar {
  display: none;
} */

#video_container, iframe {
  width: 100%;
}

.card {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 !important;
  border-radius: 0;
}

/* #moving-img {border: solid red}; */

#moving-img {cursor: pointer}
#moving-img img {width: 100%; height: 100%; cursor: pointer}

#differentpadding {
  padding: var(--margin);
  row-gap: calc(var(--margin)/2);
}

#differentpadding div {
  padding: 0 !important;
}

.my-scrollbar::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	/* border-radius: 10px; */
	background-color: rgba(0,0,0,0.2);
}

.my-scrollbar::-webkit-scrollbar
{
	width: 5px;
	background: none;
}

.my-scrollbar::-webkit-scrollbar-thumb
{
	/* border-radius: 10px; */
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: black;
}
